/* Add this to your CSS file or within a <style> tag in your HTML */




.bhk-group {
    
    justify-content: space-between;
}
.bhk-input {
    flex: 1; /* Each input takes equal width */
    margin: 0 10px; /* Add spacing between inputs */
}


.addproperty-box {
    
    
    margin-top: 40px;
    max-width: 100%;
    padding: 40px;
    background: #C3E2C2;
   
    border-radius: 10px;
    margin-bottom: 30px;
  }