  .container{
    min-height: 100vh;
  }
  
  
  .equal-card {
    display: flex;
    flex-direction: column;
    height: 100%;  /* Adjust this height as needed */
  }
  
  .equal-card .card-body {
    flex-grow: 1;  /* Allows the card body to expand and fill the space */
  }
  
  .card{
    border-color:#B1C381 ;
    
  }


  .btn-extra-sm {
    padding: 0.25rem 0.5rem; /* Smaller padding */
    font-size: 0.75rem; /* Smaller font-size */
    line-height: 1.5; /* Adjust line height if needed */
  }

  .equal-btn-width {
     /* Adjust width as needed */
    white-space: normal; /* Ensures text wraps inside the button */
    text-align: center; /* Centers text inside the button */
    margin-bottom: 5px; /* Adds a small margin at the bottom of each button */
  }