{% extends "estate_admin/index.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'estate_admin/list_tenants.css' %}">
<div class="container"> 
    
    <form method="get" action="{% url 'list_tenants' %}" class="mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" name="search_query" id="search_query" class="form-control" value="{{ request.GET.search_query }}" placeholder="Search based on unit type and property features">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    
    <div class="mt-4">
    
   <!--<h2>{{ unit_type }}</h2> -->
   <div class="table-responsive">
   <table border="2" class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Sl No:</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Property</th>
            <th scope="col">Unit Type</th>
            <th scope="col">rent cost</th>
            <th scope="col">Agreement End Date</th>
            <th scope="col">Monthly Rent Date</th>
            <th scope="col">Option</th>
        </tr>
    </thead>
    <tbody>
        {% for tenant in tenants %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ tenant.name }}</td>
                <td>{{ tenant.address }}</td>
                <td>
                    {% if tenant.property %}
                        {{ tenant.property.name }}
                    {% else %}
                        No Property
                    {% endif %}
                </td>
                <td>{{ tenant.unit_type }}</td>
                <td>{{ tenant.rent_cost }}</td>
                <td>{{ tenant.agreement_end_date }}</td>
                <td>{{ tenant.monthly_rent_date }}</td>
                <td><a href="{% url 'update_tenant' tenant_id=tenant.id %}" class="btn equal-btn-width btn-info btn-sm d-block d-md-inline-block mb-2 mb-md-0"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Update tenant</a>
                 <a href="{% url 'delete_tenant' tenant_id=tenant.id %}" class="btn equal-btn-width btn-danger btn-sm d-block d-md-inline-block mb-2 mb-md-0"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Delete tenant</a> </td>
            </tr>
        {% empty %}
            <!-- Handle empty list if needed -->
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

     

{% endblock content %}